apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: hrmsapp-ingress
  namespace: hrms-app
  labels:
    app.kubernetes.io/name: hrmsapp-ingress
    namespace: hrms-app

spec:
  ingressClassName: nginx
  rules:
  - host: hrms-arbaj.com
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: frontend
            port: 
              number: 80
      - pathType: Prefix
        path: "/api"
        backend:
          service:
             name: springboot-service
             port: 
               number: 8080
